<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfUI.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfUI.AppSettings>
            <setting name="ProjectDb" serializeAs="String">
                <value>C:\Users\pdeau\Google Drive\Work\Visual Studio Projects\_EDT Tables\EDT SQLite DB Files\EDTProjectTemplate1.1.edp</value>
            </setting>
            <setting name="LibraryDb" serializeAs="String">
                <value>C:\DCS Inc\Electrical Design Tools\ContentFiles\Edt Data Library.edl</value>
            </setting>
            <setting name="DteqGridRight" serializeAs="String">
                <value>1175</value>
            </setting>
            <setting name="LoadGridRight" serializeAs="String">
                <value>1175</value>
            </setting>
            <setting name="LoadGridBottom" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LoadGridTop" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="LoadGridHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DteqGridBottom" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="DteqGridHeight" serializeAs="String">
                <value>275</value>
            </setting>
            <setting name="NewProjectFileTemplate" serializeAs="String">
                <value>C:\DCS Inc\Electrical Design Tools\ContentFiles\Edt Sample Project.edp</value>
            </setting>
            <setting name="AddEquipmentPanelView" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollSpeed" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LicenseFileCreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Entropy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CypherText" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadListPropertyPaneWidth" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="CableListViewPropertiesPaneVisibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LostListViewPropertiesPaneVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SingleLineViewPropertiesPaneVisibility" serializeAs="String">
                <value>True</value>
            </setting>
        </WpfUI.AppSettings>
    </userSettings>
</configuration>