<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDTLibrary.Settings.EdtAppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EDTLibrary.Settings.EdtApplication" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EDTLibrary.Settings.EdtAppSettings>
            <setting name="AutoSize_ProtectionDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSize_PowerCable" serializeAs="String">
                <value>False</value>
            </setting>
        </EDTLibrary.Settings.EdtAppSettings>
        <EDTLibrary.Settings.EdtApplication>
            <setting name="AutoSize_ProtectionDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingAutoSize_PowerCable" serializeAs="String">
                <value>False</value>
            </setting>
        </EDTLibrary.Settings.EdtApplication>
    </userSettings>
</configuration>